.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.sidebar {
  width: 20%;
  background-color: darkblue;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
  /*margin-right: 10px;*/
}
.box2 {
  width: 80%;
  background-color: #222222;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
body {
  margin: 0;
  padding: 0;
}
.channels-header {
  font-family: 'Helvetica';
  color: #32bbb5;
}
.channels,
.sidebar-user {
  color: white;
}
