.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.sidebar {
  width: 20%;
  background-color: #080828;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
  /*margin-right: 10px;*/
}
.box2 {
  width: 80%;
  background-color: #222222;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
}
.message-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}
.messageBox {
  flex: 9;
  padding: 10px;
  overflow-y: auto; /* adding a scroll bar */
}
.messageInput {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding: 10px;
}
.messageBox,
.messageInput {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #8f8ab9;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.message {
  height: 100%;
  resize: none; /* no resizing for you */
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px; /* Add some spacing at the bottom */
  overflow-y: auto;
}

#sendButton {
  align-self: flex-end; /*  button at the end */
  /*align-self: flex-bottom; !* this doenst do anything *!*/
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
body {
  margin: 0;
  padding: 0;
}
.channels-header {
  font-family: 'Helvetica', serif;
  color: #32bbb5;
}
/*.channels,*/
.channel-name,
.sidebar-user {
  color: #2e76ce;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active,
.collapsible:hover {
  background-color: #555;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
